.login-container {
  height: 100vh; }

.login-container .valign {
  width: 100%; }

.login-container {
  height: 100vh; }

.login-container .valign {
  width: 100%; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9001;
  display: block;
  background-color: white; }

.loading.done {
  display: none; }
