<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Loading...</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!-- Our stuff -->
<link rel="stylesheet" href="/css/main.css" />
<script src="/js/main.js"></script>

    </head>
    <body ng-app="team-manage">
        <nav ng-controller="header" ng-hide="title == null || title == ''" class="indigo darken-4">
    <div class="nav-wrapper">
        <a class="brand-logo center" ng-bind="title"></a>
        <ul class="left">
            <li>
                <a ng-click="back()">
                    <i class="material-icons">
                        arrow_back
                    </i>
                </a>
            </li>
        </ul>
        <div class="container">
            <ul class="right">
                <li ng-show="LoginController.user.permissions.events.view">
                    <a ng-click="go('/admin/meetings')">Meetings</a>
                </li>
                <li>
                    <a ng-click="go('/profile')" onclick="setTimeout(function() { $('.profile-tabs').tabs('select_tab', 'profile-tab-contact'); }, 0)">Profile</a>
                </li>
                <li ng-show="LoginController.user.permissions.kiosk.open">
                    <a ng-click="go('/kiosk')">Kiosk</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-controller="pages">
    
        <div ng-show="name == 'login'" id="page-login" ng-controller="page-login">
            <input type="hidden" name="navbarTitle" value="" />
            <input type="hidden" name="pageTitle" value="Login" />
            <input type="hidden" name="pageUrl" value="/" />
            <div class="valign-wrapper login-container">
    <div class="valign">
        <div class="row">
            <div class="col s12">
                <h1 class="center">
                    Log In
                </h1>
            </div>
        </div>
        <form onsubmit="return false" ng-submit="login()">
            <div class="row">
                <div class="col s12 input-field">
                    <input name="server" type="text" ng-model="server" />
                    <label for="server">Server</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input name="user" type="text" ng-model="username" />
                    <label for="user">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input name="pass" type="password" ng-model="password" />
                    <label for="pass">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="waves-effect waves-light btn left">
                        Log In
                        <i class="material-icons">
                            send
                        </i>
                    </button>
                </div>
                <div class="col s6">
                    <button type="button" class="waves-effect waves-light btn right" ng-click="create()">
                        Create Account
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

        </div>
    
        <div ng-show="name == '404'" id="page-404" ng-controller="page-404">
            <input type="hidden" name="navbarTitle" value="Page Not Found" />
            <input type="hidden" name="pageTitle" value="HTTP 404" />
            <input type="hidden" name="pageUrl" value="" />
            <h1 class="center">
    This is not the page you are looking for.
</h1>
<h4 class="center">
    Or, maybe it is, and my code is broken :(
</h4>

        </div>
    
        <div ng-show="name == 'register'" id="page-register" ng-controller="page-register">
            <input type="hidden" name="navbarTitle" value="" />
            <input type="hidden" name="pageTitle" value="Create Account" />
            <input type="hidden" name="pageUrl" value="/register" />
            <div class="valign-wrapper register-container">
    <div class="valign">
        <div class="row">
            <div class="col s12">
                <h1 class="center">
                    Create an Account
                </h1>
            </div>
        </div>
        <form onsubmit="return false" ng-submit="register()">
            <div class="row">
                <div class="col s12 input-field">
                    <input name="server" type="text" ng-model="server" />
                    <label for="server">Server</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input name="user" type="text" ng-model="username" />
                    <label for="user">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input name="firstname" type="text" ng-model="firstname" />
                    <label for="firstname">First Name</label>
                </div>
                <div class="col s12 m6 input-field">
                    <input name="lastname" type="text" ng-model="lastname" />
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input name="pass" type="password" ng-model="password" />
                    <label for="pass">Password</label>
                </div>
                <div class="col s12 m6 input-field">
                    <input name="passconf" type="password" ng-model="passconf" />
                    <label for="passconf">Confirm password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input name="email" type="email" ng-model="email" class="validate" />
                    <label for="email">Email Address</label>
                </div>
                <div class="col s12 m6 input-field">
                    <input name="parentemail" type="email" ng-model="parentemail" class="validate" />
                    <label for="parentemail">Parent Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input name="phonenumber" type="text" ng-model="phonenumber" />
                    <label for="phonenumber">Phone Number</label>
                </div>
                <div class="col s12 m6 input-field">
                    <input type="text" name="provider" ng-model="provider" class="autocomplete autocomplete-register-phone-provider" />
                    <label for="provider">Cell Phone Provider</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="button" class="waves-effect waves-light btn left" ng-click="back()">
                        I already have an account
                    </button>
                </div>
                <div class="col s6">
                    <button class="waves-effect waves-light btn right">
                        Submit
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

        </div>
    
        <div ng-show="name == 'profile'" id="page-profile" ng-controller="page-profile">
            <input type="hidden" name="navbarTitle" value="Your Profile" />
            <input type="hidden" name="pageTitle" value="" />
            <input type="hidden" name="pageUrl" value="/profile" />
            <div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width profile-tabs">
            <li class="tab col s3">
                <a href="#profile-tab-contact">Contact</a>
            </li>
            <li class="tab col s3">
                <a href="#profile-tab-picture">Picture</a>
            </li>
            <li class="tab col s3">
                <a href="#profile-tab-rsvp">RSVP</a>
            </li>
            <li class="tab col s3">
                <a href="#profile-tab-pin">Pin</a>
            </li>
            <li class="tab col s3">
                <a href="#profile-tab-records">Records</a>
            </li>
        </ul>
    </div>
    <div id="profile-tab-contact" class="col s12">
        <span ng-bind="LoginController.user.profile.name"></span>
    </div>
    <div id="profile-tab-picture" class="col s12">Test 2</div>
    <div id="profile-tab-rsvp" class="col s12">Test 3</div>
    <div id="profile-tab-pin" class="col s12">Test 4</div>
    <div id="profile-tab-records" class="col s12">Test 5</div>
</div>

        </div>
    
        <div ng-show="name == 'kiosk'" id="page-kiosk" ng-controller="page-kiosk">
            <input type="hidden" name="navbarTitle" value="" />
            <input type="hidden" name="pageTitle" value="Kiosk" />
            <input type="hidden" name="pageUrl" value="/kiosk" />
            <div ng-hide="confirm" ng-show="pinpad">
    <h1 class="center">Welcome</h1>
    <h3 class="center">Please enter your pin or scan a code</h3>
    <br/>

    <input disabled class="inputa" type="number" maxlength="3" style="font-size: 50px" ng-value="pin" ng-init="pin=''">

<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="1" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin + '1'">1</button>
        </div>
        <div class="col s4">
            <button value="2" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin + '2'">2</button>
        </div>
        <div class="col s4">
            <button value="3" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '3'">3</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="4" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '4'">4</button>
        </div>
        <div class="col s4">
            <button value="5" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '5'">5</button>
        </div>
        <div class="col s4">
            <button value="6" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '6'">6</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="7" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '7'">7</button>
        </div>
        <div class="col s4">
            <button value="8" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '8'">8</button>
        </div>
        <div class="col s4">
            <button value="9" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '9'">9</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="back" class="btn col s12 button blue waves-effect waves-blue" ng-click="pin = pin.substring(0,pin.length - 1);">Backspace</button>
        </div>
        <div class="col s4">
            <button value="0" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '0'">0</button>
        </div>
        <div class="col s4">
            <button value="go" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length < 3" ng-click="go()">Go</button>
        </div>
    </div>
</div>
</div>

<div ng-show="confirm">
    <h1 class="center">Are you <span ng-bind="user.name"></span>?</h1>
    <h3 class="center">You have <span ng-bind="user.unexcused"></span> unexcused absenses.</h3>
    <br/>
    <h6 class="center"><img class="userpicture" ng-src="{{ user.picture }}" /></h6>
    <br/>
    <br/>
    <div class="row">
        <div class="col s6">
            <button value="notme" class="btn col s12 button red waves-effect waves-red" ng-click="notme()">No</button>
        </div>
        <div class="col s6">
            <button value="me" class="btn col s12 button blue waves-effect waves-blue"ng-click="me()">Yes</button>
        </div>
    </div>
</div>
        </div>
    
        <div ng-show="name == 'home'" id="page-home" ng-controller="page-home">
            <input type="hidden" name="navbarTitle" value="Home" />
            <input type="hidden" name="pageTitle" value="Home" />
            <input type="hidden" name="pageUrl" value="/home" />
            <h1>
    Hello,
    <span ng-bind="LoginController.user.profile.name"></span>
</h1>
<h5>Page Content coming soon<h5>
<div ng-repeat="message in messages">
    <b>
        <span ng-bind="message.date"></span>
        <span ng-bind="message.time"></span>
    </b>
    <p ng-bind="message.message"></p>
    <i>
        From
        <span ng-bind="message.from"></span>
    </i>
    <hr />
</div>

        </div>
    
</div>
<div class="loading"></div>

        <script>org.usd232.robotics.management.ng.AngularController.init()</script>
    </body>
</html>
